/* .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
} */

.card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5%;
    column-gap: 10%;
}

@media (max-width: 600px){
    .about{
        display: flex;
        
    }
}