.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.card-grid{
    display: grid;
}

@media (max-width: 600px){
    .about{
        display: flex;
        
    }
}