.image-main{
    max-height: 100%;
    max-width: 90%;
    border-radius: 1rem;
    object-fit: contain;
}

@media (max-width: 600px) {
    .image-main{
        /* max-height: 100%; */
        max-width: 95%;
        border-radius: 1rem;
        object-fit: cover;
        
    }
}