.navbar{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.nav-link{
    text-decoration: none;
}

.navbar-items-right{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}