@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;700;800&display=swap');

:root{
    --theme:#051231;
    --white:#fff;
}

*{
    background-color: var(--theme);
    color:var(--white);
    font-family: 'Outfit';
}

.input-wrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    width: 70%;
}